<div class="container">
<h1>Add a review to this restaurant</h1>

<p><%= simple_form_for [@restaurant, @review] do |f| %></p>
<p><%= f.input :content %></p>
<p><%= f.input :rating , collection: [1,2,3,4,5]%></p>
<p><%= f.submit "Add a review" %></p>
<% end %>
</div>
